# Database
DATABASE_URL=postgresql://postgres:password@localhost:5432/meu_clube_do_livro
DB_HOST=localhost
DB_PORT=5432
DB_NAME=meu_clube_do_livro
DB_USER=postgres
DB_PASSWORD=2003

# Server
PORT=3000
NODE_ENV=development

# JWT
JWT_SECRET=sua_chave_secreta_muito_segura_aqui_mude_em_producao
JWT_EXPIRES_IN=7d

# CORS
CORS_ORIGIN=http://localhost:5173
